In [2]:
import numpy as np

# Arrays

In [3]:
lst = [1,2,3]
x = np.array(lst)
x

array([1, 2, 3])

In [4]:
y = np.array([4,5,6])
y

array([4, 5, 6])

In [5]:
m = np.array([[7,8,9], [10,11,12]])
m

array([[ 7,  8,  9],
       [10, 11, 12]])

In [7]:
# Check dimension
m.shape

(2, 3)

In [9]:
# Return evenly spaced values within a given interval
n = np.arange(0,30,2)
n

array([ 0,  2,  4,  6,  8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28])

In [11]:
# Gives a new shape to an array without changing its data.
n = n.reshape(3,5)
n

array([[ 0,  2,  4,  6,  8],
       [10, 12, 14, 16, 18],
       [20, 22, 24, 26, 28]])

In [14]:
# Specify the range (0 to 4) and total number (9) and it'll split up the interval accordingly
o = np.linspace(0, 4, 9)
o

array([0. , 0.5, 1. , 1.5, 2. , 2.5, 3. , 3.5, 4. ])

In [15]:
o.resize(3, 3)
o

array([[0. , 0.5, 1. ],
       [1.5, 2. , 2.5],
       [3. , 3.5, 4. ]])

In [20]:
# Returns an array of 1s, one dimensional
np.ones(2)

array([1., 1.])

In [23]:
# Returns an array of 1s, 2 dimensionals
np.ones((5,2))

array([[1., 1.],
       [1., 1.],
       [1., 1.],
       [1., 1.],
       [1., 1.]])

In [24]:
np.ones((5,), dtype=int)

array([1, 1, 1, 1, 1])

In [25]:
# identity matrix
np.eye(3)

array([[1., 0., 0.],
       [0., 1., 0.],
       [0., 0., 1.]])

In [26]:
y

array([4, 5, 6])

In [28]:
# Create diagonal array
np.diag(y)

array([[4, 0, 0],
       [0, 5, 0],
       [0, 0, 6]])

In [29]:
np.array([1,2,3] * 3)

array([1, 2, 3, 1, 2, 3, 1, 2, 3])

In [30]:
# Repeat elements of an array, one at a time
np.repeat([1,2,3], 3)

array([1, 1, 1, 2, 2, 2, 3, 3, 3])

# Operations

In [34]:
x

array([1, 2, 3])

In [36]:
y

array([4, 5, 6])

In [38]:
x + y

array([5, 7, 9])

In [39]:
x - y

array([-3, -3, -3])

In [40]:
x ** 2

array([1, 4, 9])

In [41]:
# Dot product
x.dot(y)

32

In [42]:
z = np.array([y, y ** 2])
z

array([[ 4,  5,  6],
       [16, 25, 36]])

In [44]:
z.shape

(2, 3)

In [45]:
# Transpose - swap rows and cols
z.T

array([[ 4, 16],
       [ 5, 25],
       [ 6, 36]])

In [46]:
z.T.shape

(3, 2)

In [47]:
z.dtype

dtype('int64')

In [48]:
# Cast to different type
z = z.astype('f')
z

array([[ 4.,  5.,  6.],
       [16., 25., 36.]], dtype=float32)

In [49]:
a = np.array([-4, -2, 1, 3, 5])

In [52]:
a.sum()

3

In [53]:
a.max()

5

In [54]:
a.min()

-4

In [55]:
a.mean()

0.6

In [57]:
a.std()

3.2619012860600183

In [58]:
a.argmax() #index of the maximum

4

In [60]:
a.argmin() #index of the min

0